<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://powerful-journey-58722.herokuapp.com/">Indian Post</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <li class="active"><a href="https://powerful-journey-58722.herokuapp.com/"> Home</a></li>
        
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
           <!-- <form action="/main_server" method="get">
                <button type="submit">Login</button>
            </form> -->
           <a href="https://powerful-journey-58722.herokuapp.com/main_server">Login</a> 
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h2>Change Status of Order</h2>
  <form action="/status_change" method="post">
   <div class="form-group">
  <label for="usr">Consignment Number:</label>
  <input type="text" class="form-control" id="usr" name="cno">
</div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
<script>
    var f1 = <%=f1%>
    var f2 = <%=f2%>;
    if(f1!=0){
    if(f2==1){
        alert('Enter Again');
    }
    else{
        alert('Successfully Entered');
    }
    }
</script>
</html>