<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registered Post form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://powerful-journey-58722.herokuapp.com/">Indian Post</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <li class="active"><a href="https://powerful-journey-58722.herokuapp.com/"> Home</a></li>
        
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
           <!-- <form action="/main_server" method="get">
                <button type="submit">Login</button>
            </form> -->
           <a href="https://powerful-journey-58722.herokuapp.com/main_server">Login</a> 
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h2>Registered Post</h2>
    <form action="" method="post">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Weight(in gm)</td>
        <td><input type="text" placeholder="Enter weight in gm"></td>  
        <td>PIN</td>
        <td><input type="text" placeholder="Enter PIN"></td>  
        
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
    
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Sender's details</th>
          <th></th>
        <th>Reciever's details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td><input type="text" ></td>  
        <td>Name</td>
        <td><input type="text" ></td>  
        
      </tr><tr>
        <td>Address</td>
        <td><input type="text" ></td>  
        <td>Address</td>
        <td><input type="text" ></td>  
        
      </tr><tr>
        <td>State</td>
        <td><input type="text" ></td>  
        <td>State</td>
        <td><input type="text" ></td>  
        
      </tr><tr>
        <td>PINcode</td>
        <td><input type="text" ></td>  
        <td>PINcode</td>
        <td><input type="text" ></td>  
        
      </tr><tr>
        <td>Mobile number</td>
        <td><input type="text" ></td>  
        <td>Mobile number</td>
        <td><input type="text" ></td>    
    </tbody>
  </table>
        <input type="submit" class="btn btn-info" value="Submit">
</form>
</div>
</body>
</html>
